xsd/management.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
]>

<application 
   xmlns="http://wadl.dev.java.net/2009/02"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:dbaas="http://docs.openstack.org/database/api/v1.0">

  <grammars>
    <include href="dbaas.xsd"/>
    <include href="management.xsd"/>
  </grammars>
  <resources base="https://localhost:8775">
    <resource id="mgmt" path="mgmt">
      <resource id="hosts" path="hosts">
          <method href="#gethosts"/>
          <resource id="hostid" path="{hostid}">
              <param name="hostid" style="template" type="xsd:string"/>
              <method href="#gethostbyid"/>
          </resource>
      </resource>
      <resource id="instances" path="instances">
        <resource id="instanceId" path="{instanceId}">
          <param name="instanceId" style="template" type="xsd:string"/>
          <method href="#showinstances"/>
        </resource>
      </resource>
      <resource id="storage" path="storage">
        <method href="#indexstorage"/>
      </resource>
      <resource id="accounts" path="accounts">
        <resource id="accountid" path="{accountid}">
          <param name="accountid" style="template" type="xsd:string"/>
          <method href="#getaccountbyid"/>
        </resource>
      </resource>
    </resource>
  </resources>

  <!--Methods-->
  <method name="GET" id="gethosts">
    <response status="200">
      <representation mediaType="application/xml" element="dbaas:Hosts"/>
      <representation mediaType="application/json" element="dbaas:Hosts"/>
    </response>
    &commonFaults;
    &getFaults;
  </method>
  <method name="GET" id="gethostbyid">
    <response status="200">
      <representation mediaType="application/xml" element="dbaas:Host"/>
      <representation mediaType="application/json" element="dbaas:Host"/>
    </response>
    &commonFaults;
    &getFaults;
  </method>
  <method name="GET" id="showinstances">
    <response status="200">
      <representation mediaType="application/xml" element="ManagementInstances"/>
      <representation mediaType="application/json" element="ManagementInstances"/>
    </response>
    &commonFaults;
    &getFaults;
  </method>
  <method name="GET" id="indexstorage">
    <response status="200">
      <representation mediaType="application/xml" element="dbaas:Devices"/>
      <representation mediaType="application/json" element="dbaas:Devices"/>
    </response>
    &commonFaults;
    &getFaults;
  </method>
  <method name="GET" id="getaccountbyid">
    <response status="200">
      <representation mediaType="application/xml" element="dbaas:Account"/>
      <representation mediaType="application/json" element="dbaas:Account"/>
    </response>
    &commonFaults;
    &getFaults;
  </method>
</application>