xsd/management.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application 
   xmlns="http://wadl.dev.java.net/2009/02" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:dbaasmanagement="http://docs.rackspacecloud.com/database/api/mgmt/v1.0">
  <grammars>
    <include href="management.xsd"/>
  </grammars>
  <resources base="https://auth.api.rackspacecloud.com">
    <resource id="mgmt" path="mgmt">
      <resource id="hosts" path="hosts">
          <method href="#gethosts"/>
          <resource id="hostid" path="{hostid}">
              <param name="hostid" style="template" type="xsd:string"/>
              <method href="#gethostbyid"/>
          </resource>
      </resource>
      <resource id="guests" path="guests">
         <resource id="guestUpgradeAll" path="upgradeall">
            <method href="#guestUpgradeAll"/>
         </resource>
         <resource id="guestUpgradeContainer" path="{containerId}">
            <param name="containerId" style="template" type="xsd:string"/>
            <resource id="guestUpgrade" path="upgrade">
               <method href="#guestUpgrade"/>
            </resource>
         </resource>
      </resource>
    </resource>
  </resources>
  <!--Methods-->
  <method name="POST" id="guestUpgradeAll">
    <response status="202"/>
    <response status="400 401 403 409 500 503">
      <representation mediaType="applicaiton/xml"/>
      <representation mediaType="applicaiton/json"/>
    </response>
  </method>
  <method name="POST" id="guestUpgrade">
    <response status="202"/>
    <response status="400 401 403 404 409 500 503">
      <representation mediaType="applicaiton/xml"/>
      <representation mediaType="applicaiton/json"/>
    </response>
  </method>
  <method name="GET" id="gethosts">
    <response status="200">
      <representation mediaType="application/xml" element="dbaasmanagement:Hosts"/>
      <representation mediaType="application/json" element="dbaasmanagement:Hosts"/>
    </response>
    <response status="400 401 403 409 500 503">
      <representation mediaType="application/xml"/>
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="gethostbyid">
      <response status="200">
      <representation mediaType="application/xml" element="dbaasmanagement:Host"/>
      <representation mediaType="application/json" element="dbaasmanagement:Host"/>
    </response>
    <response status="400 401 403 409 500 503">
      <representation mediaType="application/xml"/>
      <representation mediaType="application/json"/>
    </response>
  </method>
</application>
