xsd/management.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
]>

<application 
   xmlns="http://wadl.dev.java.net/2009/02"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
   xmlns:wadl="http://wadl.dev.java.net/2009/02"
   xmlns:dbaas="http://docs.openstack.org/database/api/v1.0">

  <grammars>
    <include href="dbaas.xsd"/>
    <include href="management.xsd"/>
  </grammars>
  <resources base="https://localhost:8775">
    <resource id="mgmt" path="mgmt">
      <resource id="hosts" path="hosts">
          <method href="#gethosts"/>
          <resource id="hostid" path="{hostid}">
              <param name="hostid" style="template" type="xsd:string">
                <doc>The host ID for the specified host.</doc></param>
              <method href="#gethostbyid"/>
          </resource>
      </resource>
      <resource id="instances" path="instances">
        <resource id="instanceId" path="{instanceId}">
          <param name="instanceId" style="template" type="xsd:string"> 
            <doc>The instance ID for the specified database instance.</doc></param>
          <method href="#showinstances"/>
          <resource id="rootdetails" path="root">
              <method href="#getrootdetails"/>
          </resource>
        </resource>
      </resource>
      <resource id="storage" path="storage">
        <method href="#indexstorage"/>
      </resource>
      <resource id="accounts" path="accounts">
        <resource id="accountid" path="{accountid}">
          <param name="accountid" style="template" type="xsd:string">
            <doc>The account ID for the specified account.</doc>
          </param>
          <method href="#getaccountbyid"/>
        </resource>
      </resource>
      <resource id="configs" path="configs">
          <method href="#createconfigs"/>
          <method href="#getconfigs"/>
          <resource id="configid" path="{configid}">
              <param name="configid" style="template" type="xsd:string">
                <doc>The config ID for the specified configuration.</doc>
              </param>
              <method href="#getconfigbyid"/>
              <method href="#updateconfig"/>
              <method href="#deleteconfig"/>
          </resource>
      </resource>
    </resource>
  </resources>

  <!--Methods-->
  <method name="GET" id="gethosts">
    <wadl:doc xml:lang="EN" title="List All Compute Hosts" xmlns="http://docbook.org/ns/docbook">
      <para role="shortdesc">
        Lists all of the compute hosts.
      </para>
      <remark>Reviewer: in the DNS project, we have been requested by the customer to provide a table of parameters (should be pulled automatically if parms defined in wadl) and a table of attributes (for calls that allow detailed info about the object created to be specified. No doubt our DB customers will want this too.</remark>
      <remark>Reviewer: These tables probably need 4 columns: name; parameter type: e.g. template, query, etc.; data type: string, etc.; required?; description.</remark>
      <para>This operation returns a list of all the hosts from the database that are running the binary 'nova-compute'.</para>
    </wadl:doc>
    <request>
      <representation mediaType="application/xml">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the List All Compute Hosts requests:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-list-hosts-request.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-list-hosts-request.json"/>
        </doc>
      </representation>
    </request>
      <response status="200">
      <representation mediaType="application/xml" element="dbaas:Hosts">
      <doc>
        <para xmlns="http://docbook.org/ns/docbook">The following examples show the List All Compute Hosts responses:</para>
        <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-list-hosts-response.xml"/>
      </doc>
      </representation>
      <representation mediaType="application/json" element="dbaas:Hosts">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-list-hosts-response.json"/>
        </doc>
      </representation>
    </response>
    &commonFaults;
    &getFaults;
  </method>
  <method name="GET" id="gethostbyid">
    <wadl:doc xml:lang="EN" title="List All Instances for a Host" xmlns="http://docbook.org/ns/docbook">
      <para role="shortdesc">
        Lists all of the instances for the specified host.
      </para>
      <remark>Reviewer: in the DNS project, we have been requested by the customer to provide a table of parameters (should be pulled automatically if parms defined in wadl) and a table of attributes (for calls that allow detailed info about the object created to be specified. No doubt our DB customers will want this too.</remark>
      <remark>Reviewer: These tables probably need 4 columns: name; parameter type: e.g. template, query, etc.; data type: string, etc.; required?; description.</remark>
      <para>This operation returns the host name, percent of used RAM, total RAM on host, used RAM on host, and a list of the compute instances running on the given host.</para>
      <para>If the host name does not exist, a 404 not found error is returned.</para>
    </wadl:doc>
    <request>
      <representation mediaType="application/xml">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the List All Instances for a Host requests:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-host-detail-request.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-host-detail-request.json"/>
        </doc>
      </representation>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="dbaas:Host">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the List All Instances for a Host responses:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-host-detail-response.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json" element="dbaas:Host">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-host-detail-response.json"/>
        </doc>
      </representation>
    </response>
    &commonFaults;
    &getFaults;
  </method>
  <method name="GET" id="showinstances">
    <wadl:doc xml:lang="EN" title="List Database Instance Status and Details" xmlns="http://docbook.org/ns/docbook">
      <para role="shortdesc">
        Returns detailed information for the specified Database Instance.
      </para>
      <remark>Reviewer: in the DNS project, we have been requested by the customer to provide a table of parameters (should be pulled automatically if parms defined in wadl) and a table of attributes (for calls that allow detailed info about the object created to be specified. No doubt our DB customers will want this too.</remark>
      <remark>Reviewer: These tables probably need 4 columns: name; parameter type: e.g. template, query, etc.; data type: string, etc.; required?; description.</remark>
      <para>This operation returns detailed information about the status and details for the specified Database Instance.</para>
    </wadl:doc>
    <request>
      <representation mediaType="application/xml">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the List Database Instance Status and Details requests:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-instance-details-request.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-instance-details-request.json"/>
        </doc>
      </representation>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="ManagementInstances">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the List Database Instance Status and Details responses:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-instance-details-response.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json" element="ManagementInstances">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-instance-details-response.json"/>
        </doc>
      </representation>
    </response>
    &commonFaults;
    &getFaults;
  </method>
  
  <method name="GET" id="indexstorage">
    <wadl:doc xml:lang="EN" title="List Storage Device Details" xmlns="http://docbook.org/ns/docbook">
      <para role="shortdesc">
        Returns detailed information for the storage device.
      </para>
      <remark>Reviewer: in the DNS project, we have been requested by the customer to provide a table of parameters (should be pulled automatically if parms defined in wadl) and a table of attributes (for calls that allow detailed info about the object created to be specified. No doubt our DB customers will want this too.</remark>
      <remark>Reviewer: These tables probably need 4 columns: name; parameter type: e.g. template, query, etc.; data type: string, etc.; required?; description.</remark>
      <para>This operation returns detailed information about the details for the storage device.</para>
    </wadl:doc>
    <request>
      <representation mediaType="application/xml">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the List Storage Device Details requests:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-storage-request.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-storage-request.json"/>
        </doc>
      </representation>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="dbaas:Devices">
      <doc>
        <para xmlns="http://docbook.org/ns/docbook">The following examples show the List Storage Device Details responses:</para>
        <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-storage-response.xml"/>
      </doc>
      </representation>
      <representation mediaType="application/json" element="dbaas:Devices">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-storage-response.json"/>
        </doc>
      </representation>
    </response>
    &commonFaults;
    &getFaults;
  </method>
  
  <method name="GET" id="getaccountbyid">
    <wadl:doc xml:lang="EN" title="List Account Details" xmlns="http://docbook.org/ns/docbook">
      <para role="shortdesc">
        Returns detailed information for the specified account.
      </para>
      <remark>Reviewer: This section needs examples.</remark>
      <para>This operation returns the account name, id, a list of hosts that have the id, name, and status of each instance on the hosts.</para>
    </wadl:doc>
    <request>
      <representation mediaType="application/xml">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the List Account Details requests:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-account-details-request.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-account-details-request.json"/>
        </doc>
      </representation>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="dbaas:Account">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the List Account Details responses:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-account-details-response.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json" element="dbaas:Account">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-account-details-response.json"/>
        </doc>
      </representation>
    </response>
    &commonFaults;
    &getFaults;
  </method>
  
  <method name="POST" id="createconfigs">
    <wadl:doc xml:lang="EN" title="Create Configurations" xmlns="http://docbook.org/ns/docbook">
      <para role="shortdesc">
        Creates the specified configuration.
      </para>
      <remark>Reviewer: Need the description for the summary table above and the detailed description for the next paragraph.</remark>
      <para>This operation creates the configuration as specified in the request body.</para>
    </wadl:doc>
    <request>
      <representation mediaType="application/xml" element="dbaas:Configs">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the Create Configurations requests:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-create-config-request.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json" element="dbaas:Configs">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-create-config-request.json"/>
        </doc>
      </representation>
    </request>
    <response status="200">
      <representation mediaType="application/xml">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the Create Configurations responses:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-create-config-response.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-create-config-response.json"/>
        </doc>
      </representation>
    </response>
    &commonFaults;
    &getFaults;
  </method>
  
  <method name="GET" id="getconfigs">
    <wadl:doc xml:lang="EN" title="List Configurations" xmlns="http://docbook.org/ns/docbook">
      <para role="shortdesc">
        Lists information for the configurations.
      </para>
      <remark>Reviewer: Need the description for the summary table above and the detailed description for the next paragraph.</remark>
      <para>This operation lists information for the configurations.</para>
    </wadl:doc>
    <request>
      <representation mediaType="application/xml">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the List Configurations requests:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-list-configs-request.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-list-configs-request.json"/>
        </doc>
      </representation>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="dbaas:Configs">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the List Configurations responses:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-list-configs-response.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json" element="dbaas:Configs">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-list-configs-response.json"/>
        </doc>
      </representation>
    </response>
    &commonFaults;
    &getFaults;
  </method>
  
  <method name="GET" id="getconfigbyid">
    <wadl:doc xml:lang="EN" title="List Configuration Details" xmlns="http://docbook.org/ns/docbook">
      <para role="shortdesc">
        Lists detailed information for the specified configuration.
      </para>
      <remark>Reviewer: Need the description for the summary table above and the detailed description for the next paragraph.</remark>
      <para>This operation lists the information for the specified configuration.</para>
    </wadl:doc>
    <request>
      <representation mediaType="application/xml">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the List Configuration Details requests:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-config-request.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-config-request.json"/>
        </doc>
      </representation>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="dbaas:Config">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the List Configuration Details responses:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-config-response.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json" element="dbaas:Config">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-config-response.json"/>
        </doc>
      </representation>
    </response>
    &commonFaults;
    &getFaults;
  </method>
  
  <method name="PUT" id="updateconfig">
    <wadl:doc xml:lang="EN" title="Update Configuration" xmlns="http://docbook.org/ns/docbook">
      <para role="shortdesc">
        Updates the specified configuration.
      </para>
      <remark>Reviewer: Need the description for the summary table above and the detailed description for the next paragraph.</remark>
      <para>This operation updates the specified configuration information.</para>
    </wadl:doc>
    <request>
      <representation mediaType="application/xml" element="dbaas:Config">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the Update Configuration requests:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-update-config-request.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json" element="dbaas:Config">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-update-config-request.json"/>
        </doc>
      </representation>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="dbaas:Config">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the Update Configuration responses:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-update-config-response.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json" element="dbaas:Config">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-update-config-response.json"/>
        </doc>
      </representation>
    </response>
    &commonFaults;
    &getFaults;
  </method>
  
  <method name="DELETE" id="deleteconfig">
    <wadl:doc xml:lang="EN" title="Delete Configuration" xmlns="http://docbook.org/ns/docbook">
      <para role="shortdesc">
        Deletes the specified configuration.
      </para>
      <remark>Reviewer: Need the description for the summary table above and the detailed description for the next paragraph.</remark>
      <para>This operation deletes the specified configuration.</para>
    </wadl:doc>
    <request>
      <representation mediaType="application/xml">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the Delete Configuration requests:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-delete-config-request.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-delete-config-request.json"/>
        </doc>
      </representation>
    </request>
    <response status="200">
      <representation mediaType="application/xml">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the Delete Configuration responses:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-delete-config-response.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-delete-config-response.json"/>
        </doc>
      </representation>
    </response>
    &commonFaults;
    &getFaults;
  </method>
  <method name="GET" id="getrootdetails">
      <response status="200">
          <representation mediaType="application/xml" element="dbaas:RootDetails"/>
          <representation mediaType="application/json" element="dbaas:RootDetails"/>
      </response>
      &commonFaults;
      &getFaults;
  </method>
</application>