xsd/management.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application 
   xmlns="http://wadl.dev.java.net/2009/02"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:dbaas="http://docs.rackspacecloud.com/database/api/v1.0">

  <grammars>
    <include href="dbaas.xsd"/>
    <include href="management.xsd"/>
  </grammars>
  <resources base="https://auth.api.rackspacecloud.com">
    <resource id="mgmt" path="mgmt">
      <resource id="hosts" path="hosts">
          <method href="#gethosts"/>
          <resource id="hostid" path="{hostid}">
              <param name="hostid" style="template" type="xsd:string"/>
              <method href="#gethostbyid"/>
          </resource>
      </resource>
      <resource id="dbcontainers" path="dbcontainers">
        <resource id="containerId" path="{containerId}">
          <param name="containerId" style="template" type="xsd:string"/>
          <method href="#showdbcontainers"/>
        </resource>
      </resource>
      <resource id="guests" path="guests">
         <resource id="guestUpgradeAll" path="upgradeall">
            <method href="#guestUpgradeAll"/>
         </resource>
         <resource id="guestUpgradeContainer" path="{containerId}">
            <param name="containerId" style="template" type="xsd:string"/>
            <resource id="guestUpgrade" path="upgrade">
               <method href="#guestUpgrade"/>
            </resource>
         </resource>
      </resource>
      <resource id="storage" path="storage">
        <method href="#indexstorage"/>
      </resource>
      <resource id="accounts" path="accounts">
        <resource id="accountid" path="{accountid}">
          <param name="accountid" style="template" type="xsd:string"/>
          <method href="#getaccountbyid"/>
        </resource>
      </resource>
    </resource>
  </resources>

  <!--Methods-->
  <method name="POST" id="guestUpgradeAll">
    <response status="202"/>
    <response status="400 401 403 409 500 503">
      <representation mediaType="application/xml"/>
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="POST" id="guestUpgrade">
    <response status="202"/>
    <response status="400 401 403 404 409 500 503">
      <representation mediaType="application/xml"/>
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="gethosts">
    <response status="200">
      <representation mediaType="application/xml" element="dbaas:Hosts"/>
      <representation mediaType="application/json" element="dbaas:Hosts"/>
    </response>
    <response status="400 401 403 409 500 503">
      <representation mediaType="application/xml"/>
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="gethostbyid">
    <response status="200">
      <representation mediaType="application/xml" element="dbaas:Host"/>
      <representation mediaType="application/json" element="dbaas:Host"/>
    </response>
    <response status="400 401 403 409 500 503">
      <representation mediaType="application/xml"/>
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="showdbcontainers">
    <response status="200">
      <representation mediaType="application/xml" element="dbaas:DatabaseContainers"/>
      <representation mediaType="application/json" element="dbaas:DatabaseContainers"/>
    </response>
    <response status="400 401 403 409 500 503">
      <representation mediaType="application/xml"/>
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="indexstorage">
    <response status="200">
      <representation mediaType="application/xml" element="dbaas:Storage"/>
      <representation mediaType="application/json" element="dbaas:Storage"/>
    </response>
    <response status="400 401 403 409 500 503">
      <representation mediaType="application/xml"/>
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="getaccountbyid">
    <response status="200">
      <representation mediaType="application/xml" element="dbaas:Account"/>
      <representation mediaType="application/json" element="dbaas:Account"/>
    </response>
    <response status="400 401 403 409 500 503">
      <representation mediaType="application/xml"/>
      <representation mediaType="application/json"/>
    </response>
  </method>
</application>
